/*	Core CSS styling # 0.1 for CWCMS. 
 *      www.cwholemaniii.com
 *      codeMonkey@cwholemaniii.com
 *
 * 	Created:        2 March 2019. 	
 * 	Modified:       2 March 2019.
 *      Based on:       cwholemaniii.com Default 5.0.
 *
 *      Fonts from Google: https://www.google.com/fonts#
 */
//@import 'colors';
//@import 'shared'; 
//@import 'images';  
 
body {
    background:radial-gradient(circle at bottom left, rgba(78,179,147,1), rgba(49,125,157,1));
    }



// ELEMENTS ------------------------------------------------------
h1, h2, h3{
    margin:0;
    padding:0;
    margin: auto;
    color:white;
    }
h1{
    font-size:1.75em;	
    font-family: "Cinzel Decorative"; 
    white-space: nowrap;
    }

table, th, td {
    border: 1px solid black;
    }
th {
    font-weight: bold;
    }

.headerIcon{
    width:1em;
    height:1em;
    }

hr {
    color:white;	
    }
details {
    background:rgba(106,106,106,1);
    }
    
legend{
    color:white;
    }
    
// CLASSES------------------------------------------------------

.confirmAction {
        background:rgba(106,106,106,1);
        }
.confirmAction:hover {
        background:red;
        border:1px;
        padding:0.25em; 
        }

.headerIcon{
        width:1em;
        height:1em;
        }

.preAlpha{
    visibility: hidden; 
    }
        
// ------------- ------------- ------------- ------------- ------------- ------------- --
// ------------- Collapsing fieldsets.
// ------------- https://www.jqueryscript.net/form/Collapsible-Form-Fieldsets-jQuery.html
.collapsible, .collapsible.expanded {
        }

.collapsible.collapsed {
        }

.collapsible legend {
        font-weight: bold;
        cursor: pointer;
        padding-left: 20px;
        }

.collapsible legend, .collapsible.expanded legend {
        background: transparent url("collapse.png") no-repeat center left;
        }

.collapsible.collapsed legend {
        background: transparent url("expand.png") no-repeat center left;
        }


   